<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernateTutorials</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">rambo123)(*</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.connection.pool_size">3</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <!-- hbm2ddl.auto can have create, update, create-drop and validate -->
    </session-factory>
</hibernate-configuration>